<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../../public/css/style.css" rel="stylesheet">
    <title>Auto-Listings</title>
</head>

<body>
    <header>
        <h1>Auto-Listings</h1>
    </header>
    <nav>
        <a href='/al'>Home</a> |
        
        <% if(logged){ %>
            <a href='/al/new'>New Listing</a> |
        <% } %>
       
        <% if(!logged){ %>
            <a href='/user/signin'>Sign in</a> |
        <% } %>
        
        <% if(logged){ %>
            <a href='/user/signout'>Sign out</a> 
        <% } %>
        
        <% if(!logged){ %>
            <a href='/user/register'>Register</a>
        <% } %>

    </nav>
    