<%- include('../views/partials/header.ejs') %>
<form action='/al/new' method="POST">
    <fieldset>
        <label for='year'>Year</label>
        <input type='text' id='year' name='year'>
    </fieldset>
    <fieldset>
        <label for='make'>Make</label>
        <input type='text' id='make' name='make'>
    </fieldset>
    <fieldset>
        <label for='model'>Model</label>
        <input type='text' id='model' name='model'>
    </fieldset>
    <fieldset>
        <label for='mileage'>Mileage</label>
        <input type='text' id='mileage' name='mileage'>
    </fieldset>
    <fieldset>
        <label for='img'>Image Link</label>
        <input type='text' id='img' name='img'>
    </fieldset>
    <button>Submit</button>
</form>
<%- include('../views/partials/footer.ejs') %>