<%- include haed.ejs %>
<form action='al/new' method="POST">
    <fieldset>
        <label for='year'>Year</label>
        <input type='text' id='year' name='year'>
    </fieldset>
    <fieldset>
        <label for='make'>Year</label>
        <input type='text' id='make' name='make'>
    </fieldset>
    <fieldset>
        <label for='model'>Year</label>
        <input type='text' id='model' name='model'>
    </fieldset>
    <fieldset>
        <label for='mileage'>Year</label>
        <input type='text' id='mileage' name='mileage'>
    </fieldset>
    <button>Submit</button>
</form>
<%- include footer.ejs %>