body {
    background-color: aliceblue;
}

h1 {
    display: block;
    margin: 20px;
}

body > nav > a {
    margin: 4px;
}

nav {
    text-align: center;
}

#imageDiv {
    display: flex;
    justify-content: center;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 700px;
    margin: 15px;
    padding: 15px;
}

.listing {
    height: 200px;
    width: 200px;
}

.listingsImage {
    width: 112px;
    height: 63px;
}