body {
    background-color: aliceblue;
}

h1 {
    display: block;
    margin: 20px;
}

body > nav > a {
    margin: 4px;
}

nav {
    text-align: center;
}

#imageDiv {
    display: flex;
    justify-content: center;
}

.listingsPage {
    display: flex;
    margin: 15px;
    padding: 15px;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 700px;
    margin: 15px;
}

.listing {
    height: 250px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: solid;
    border-radius: 1px;
    border-color: grey;
}

body > div > div > div.listingInfo > p {
    padding: 0px;
    margin: 3px;
}

.listingsImage {
    width: 140px;
}

.price {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    width:600px;
    margin: 15px;
    padding: 10px;
}

select {
    display: inline-block;
}