body {
    background-color: aliceblue;
}

h1 {
    display: block;
    margin: 20px;
}

body > nav > a {
    margin: 4px;
}

nav {
    text-align: center;
}

#imageDiv {
    display: flex;
    justify-content: center;
}

.listingsPage {
    display: flex;
    margin: 15px;
    padding: 15px;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 700px;
}

.listing {
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: solid;
    border-radius: 1px;
    border-color: grey;
}

body > div > div > div.listingInfo > p {
    padding: 0px;
    margin: 3px;
}

.listingsImage {
    width: 140px;
}

.price {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    width:600px;
    padding: 10px;
}

select {
    display: inline-block;
}

fieldset {
    display: inline-block;
    width: 300px;
    margin: 10px;
}

#newForm {
    display: flex;
}

#newFormDiv {
    justify-content: center;
}


.showPage, .showPageINFO  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.showImage {
    height: 400px;
}

.showImageDiv {
    padding: 20px;
}

.showPageINFO {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.infoDiv {
    border-radius: 1px;
    border-color: rgb(235, 99, 104);
    border-style: solid;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.pTitle {
    font-size: 20px;
}
